.paper-props {
  padding: 1em;
  min-height: 5em;
  border-radius: 8px;
  word-wrap: break-word;
}

.container {
  flex-grow: 1;
  margin-top: 3em;
}

.word {
  padding-bottom: 0.5em;
}

.todo-content {
  line-height: 1.5;
}